/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 100%;
} 

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    vertical-align: auto;
    padding: 0 20px;
    font-size: 15px;
}

h1{
    margin-bottom: 40px;
    font-size: 40px;
}

h2{
    margin-bottom: 30px;
}

.h3-speciale{
    color: #495D97;
}

.speciale{
    height: 50px;
    width: 400px;
    /* background-color: red; */
    margin: 0 auto;
    padding-top: 15px;
    background-image: url(/img/stars.svg);
    background-size: contain;
}

p{
    padding: 5px 0;
}

.p-size{
    font-size: 14px;
    color: white;
} 

.p-speciale{
    color: #495D97;
}

.item1-img{
    background-image: url(img/item1.svg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.item2-img{
    background-image: url(img/item2.svg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.item3-img{
    background-image: url(img/item3.svg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

/* MIX */
button{
    width: 70px;
    height: 40px;
    background-color: white;
    border-radius: 50px 50px 50px 50px;
    margin: 10px 0;
    border: none;
}

#button-width{
    width: 200px;
}

.black-button{
    background-color: rgb(31, 29, 29);
    color: white;
}

.blue-button{
    color: white;
    background-color: rgb(90, 149, 168);
}

.italian-flag{
    width: 30px;
    height: 20px;
    background-image: url(img/ita.png);
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    margin-top: 10px;
}

.flex-ita{
    display: flex;
    align-items: flex-end;
}

.special-ita{
    padding: 2px 10px;
}

.special-entities{
    padding: 20px 0;
    color: white;
}

/* DEBUG */
/* .debug */ .header-top{
    height: 60px;
    background-color: #265DE8;
}

/* .debug */ .header-top .my-row{
    background-color:  #265DE8;
    max-width: 1400px;
    margin: 0 auto;
}

/* .debug .header-top .my-row .main-menu-container .my-col-1-6, .my-col-2-3{
    border: 1px dashed black;
} */

/* .debug  */.header-bottom{
    background-image: url(/img/jumbo.png);
    min-height: 600px;
    background-size: cover;
}

/* .debug */ .header-bottom .box{
    text-align: center;
    /* border: 1px dashed black; */
    min-height: 300px;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    padding: 50px 0;
}

/* .debug main section .my-row .my-col-3-5{
    background-color: aqua;
    border: 1px dashed black;
    min-height: 400px;
} */

/* .debug main section .my-row .my-col-2-5{
    background-color: pink;
    border: 1px dashed black;
    min-height: 400px;
} */

/* .debug */ main section .big-green{
    /* background-color: green;
    border: 1px dashed black; */
    min-height: 400px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* .debug */ .footer-top-main-row{
    /* background-color: coral; */
    max-width: 1400px;
    margin: 0 auto;
}

/* .debug */ .footer-top-main-row > *{
    /* border: 1px dashed black; */
    min-height: 300px;
}

/* .debug .footer-top-second-row{
    background-color: cadetblue;
} */

/* .debug */ .footer-top-second-row > *{
    /* border: 1px dashed white; */
    min-height: 300px;
}

/* .debug */ .footer-bottom-box{
    /* background-color: aquamarine; */
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

/* .debug .footer-bottom-box > *{
    background-color: pink;
    border: 1px dashed black;
} */


/* MY-ROW */
.my-row .main-menu-container > *{
    padding: 10px;
}

.my-row .main-menu-container{
    width: 100%;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.my-row .my-col-1-6{
    width: calc((100% / 6) * 1);
}

.my-row .my-col-2-3{
    width: calc((100% / 6) * 4);
}

.my-col-2-5{
    width: calc((100% / 5) * 2);
}

.my-col-3-5{
    width: calc((100% / 5) * 3);
}

.my-col-1-4{
    width: calc((100% / 4) * 1);
}

.my-col-3-4{
    width: calc((100% / 4) * 3);
}


/* HEADER */
.header-top .main-menu-container > .main-nav{
    text-align: center;
}

.header-top .main-menu-container > .login-container{
    text-align: right;
}

.header-top .main-menu-container > .main-nav ul li{
    display: inline-block;
}

.header-bottom{
    padding: 100px;
}


/* MAIN */
.main-section-row{
    padding: 40px 0;
    max-width: 1000px;
    margin: 0 auto;
}

.main-nav{
    width: 100%;
}

.lightgrey-background{
    background-color: rgb(233, 233, 233);
}

.white-background{
    background-color: white;
}


/* FOOTER */
footer{
    background-color: #23272A;
}

.footer-top{
    padding: 30px 0;
}

.footer-top hr{
    margin-top: 30px;
}

.footer-bottom .footer-bottom-box{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}